body {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 1rem;
  grid-auto-flow: dense;
}

h1 {
  grid-column: span 10;
  background-color: green;
  text-align: center;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.box-grid {
  grid-column: 2 / span 8;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 0.5rem;
}

.box {
  background-color: yellow;
  height: 200px;
}
